<mat-drawer-container>
  <mat-drawer-content fxLayout="column">
    <mat-toolbar>
      <span fxFlex="90">Permission Configuration</span>

      <button mat-raised-button color="primary" fxLayoutAlign="center center" (click)="addNew()"
        *ngIf="!formDrawer.opened">
        <mat-icon>add</mat-icon>
        <span>Add new permission</span>
      </button>
    </mat-toolbar>
    <div [style.height]="screenHeight">
      <div fxFlex="100" class="borderline">
        <app-list-role></app-list-role>
      </div>
      <!-- <div fxFlex="80">
        <app-table-menu></app-table-menu>
      </div> -->
    </div>

  </mat-drawer-content>
  <mat-drawer #formDrawer class="form-drawer" mode="side" position="end">
    <mat-toolbar>
      <span fxFlex="90">Permission Management</span>
      <button mat-icon-button fxLayoutAlign="end center" (click)="formDrawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <div fxLayout="column" [style.height]="screenHeight">
      <div fxFlex="90" fxLayoutAlign="space-between start">
        <div fxLayout="column" [formGroup]="bodyForm">
          <div fxFlex="10" >
            <mat-form-field appearance="fill">
              <mat-label>Select Application Menu</mat-label>
              <mat-select formControlName="menuName">
                <mat-option *ngFor="let menu of Appmenu" [value]="menu.menuCode">
                  {{menu.menuName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="90" >
            <section class="example-section">
              <span class="example-list-section">
                <mat-label>Select Feature</mat-label>
                <ul>
                  <li *ngFor="let feature of Feature">
                    <mat-checkbox formControlName="featureName">
                      {{feature.featureName}}
                    </mat-checkbox>
                  </li>
                </ul>
              </span>
            </section>
          </div>
        </div>

      </div>
      <div fxFlex="10" fxLayoutAlign="center center">
        <button mat-raised-button fxFlex="90" color="primary" fxLayoutAlign="center center" (click)="onSubmit()"
          [disabled]="bodyForm.invalid">
          <span>บันทึก</span>
        </button>
      </div>
    </div>
  </mat-drawer>
</mat-drawer-container>
