<mat-drawer-container fxFlexFill>
    <mat-drawer-content fxLayout="column">
        <mat-toolbar color="primary">
            <span>Settings</span>
        </mat-toolbar>
        <mat-tab-group [disableRipple]="false">
            <mat-tab label="Role">
                <app-role></app-role>
            </mat-tab>
            <mat-tab label="Application Menu">
                <app-app-menu></app-app-menu>
            </mat-tab>
            <mat-tab label="Feature">
                <app-feature></app-feature>
            </mat-tab>
            <mat-tab label="Permission">
                <app-permission></app-permission>
            </mat-tab>
        </mat-tab-group>
    </mat-drawer-content>
</mat-drawer-container>