<mat-drawer-container>
    <mat-drawer-content fxLayout="column">
        <mat-toolbar>
            <span fxFlex="90">Feature Configuration</span>

            <button mat-raised-button color="primary" fxLayoutAlign="center center" (click)="formDrawer.toggle()"
                *ngIf="!formDrawer.opened">
                <mat-icon>add</mat-icon>
                <span>Add new feature</span>
            </button>
        </mat-toolbar>
        <div [style.height]="screenHeight">
            table data
        </div>

    </mat-drawer-content>
    <mat-drawer #formDrawer class="form-drawer" mode="side" position="end">
        <mat-toolbar>
            <span fxFlex="90">Feature Management</span>
            <button mat-icon-button fxLayoutAlign="end center" (click)="formDrawer.toggle()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>
        <div fxLayout="column" [style.height]="screenHeight">
            <div fxFlex="90">body</div>
            <div fxFlex="10" fxLayoutAlign="center center">
                <button mat-raised-button fxFlex="90" color="primary" fxLayoutAlign="center center"
                    (click)="formDrawer.toggle()">
                    <span>Done</span>
                </button>
            </div>
        </div>
    </mat-drawer>
</mat-drawer-container>