<mat-tab-group [dynamicHeight]="true">
  <mat-tab label="Administrator">
    <div class="tab-content">
      <div class="map-container-outer">
        <div class="map-container">
          <app-table-menu></app-table-menu>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="NOC">
    <div class="tab-content">
      <div class="map-container-outer">
        <div class="map-container">
          <app-table-menu></app-table-menu>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Support">
    <div class="tab-content">
      <div class="map-container-outer">
        <div class="map-container">
          <app-table-menu></app-table-menu>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
