<mat-toolbar>
    <button mat-button>
        <mat-icon class="mat-18">equalizer</mat-icon>
        Show Chart
    </button>
    <button mat-button>
        <mat-icon class="mat-18">add</mat-icon>
        New
    </button>
    <button mat-button>
        <mat-icon class="mat-18">delete</mat-icon>
        Delete
    </button>
    <mat-divider vertical style="height:35px"></mat-divider>
    <button mat-button>
        <mat-icon class="mat-18">excel</mat-icon>
        Excel template
    </button>
    <button mat-button>
        <mat-icon class="mat-18">excel</mat-icon>
        Import from Excel
    </button>
    <button mat-button>
        <mat-icon class="mat-18">excel</mat-icon>
        Export to Excel
    </button>
    
</mat-toolbar>